#include <windows.h>
#include "ShaderResources.h"

// clang-format off

VKRT_RESOURCE_CULLING_SHADER RCDATA "./culling.comp.spv"
VKRT_RESOURCE_COMPACTION_SHADER RCDATA "./compactDrawCalls.comp.spv"
VKRT_RESOURCE_UBER_SHADER_OPAQUE_VERTEX RCDATA "./uberShaderOpaque.vert.spv"
VKRT_RESOURCE_UBER_SHADER_OPAQUE_FRAGMENT RCDATA "./uberShaderOpaque.frag.spv"
VKRT_RESOURCE_UBER_SHADER_ALPHA_MASKED_VERTEX RCDATA "./uberShaderAlphaMasked.vert.spv"
VKRT_RESOURCE_UBER_SHADER_ALPHA_MASKED_FRAGMENT RCDATA "./uberShaderAlphaMasked.frag.spv"
VKRT_RESOURCE_DEPTH_ONLY_OPAQUE_VERTEX_SHADER RCDATA "./depthOnlyShaderOpaque.vert.spv"
VKRT_RESOURCE_DEPTH_ONLY_OPAQUE_FRAGMENT_SHADER RCDATA "./depthOnlyShaderOpaque.frag.spv"
VKRT_RESOURCE_DEPTH_ONLY_ALPHA_MASKED_VERTEX_SHADER RCDATA "./depthOnlyShaderAlphaMasked.vert.spv"
VKRT_RESOURCE_DEPTH_ONLY_ALPHA_MASKED_FRAGMENT_SHADER RCDATA "./depthOnlyShaderAlphaMasked.frag.spv"
