#include <windows.h>
#include "ShaderResources.h"

// clang-format off

VKRT_RESOURCE_CULLING_SHADER RCDATA "./culling.comp.spv"
VKRT_RESOURCE_GEOMETRY_PASS_OPAQUE_VERTEX RCDATA "./geometryPassOpaque.vert.spv"
VKRT_RESOURCE_GEOMETRY_PASS_OPAQUE_FRAGMENT RCDATA "./geometryPassOpaque.frag.spv"
VKRT_RESOURCE_GEOMETRY_PASS_ALPHA_MASKED_VERTEX RCDATA "./geometryPassAlphaMasked.vert.spv"
VKRT_RESOURCE_GEOMETRY_PASS_ALPHA_MASKED_FRAGMENT RCDATA "./geometryPassAlphaMasked.frag.spv"
VKRT_RESOURCE_TRANSPARENT_VERTEX RCDATA "./transparentPass.vert.spv"
VKRT_RESOURCE_TRANSPARENT_FRAGMENT RCDATA "./transparentPass.frag.spv"
VKRT_RESOURCE_DEPTH_ONLY_OPAQUE_VERTEX_SHADER RCDATA "./depthOnlyShaderOpaque.vert.spv"
VKRT_RESOURCE_DEPTH_ONLY_OPAQUE_FRAGMENT_SHADER RCDATA "./depthOnlyShaderOpaque.frag.spv"
VKRT_RESOURCE_DEPTH_ONLY_ALPHA_MASKED_VERTEX_SHADER RCDATA "./depthOnlyShaderAlphaMasked.vert.spv"
VKRT_RESOURCE_DEPTH_ONLY_ALPHA_MASKED_FRAGMENT_SHADER RCDATA "./depthOnlyShaderAlphaMasked.frag.spv"
VKRT_RESOURCE_VISIBILITY_BUFFER_SHADE_VERTEX_SHADER RCDATA "./visibilityBufferShade.vert.spv"
VKRT_RESOURCE_VISIBILITY_BUFFER_SHADE_FRAGMENT_SHADER RCDATA "./visibilityBufferShade.frag.spv"
VKRT_RESOURCE_SSAO_VERTEX_SHADER RCDATA "./ssao.vert.spv"
VKRT_RESOURCE_SSAO_FRAGMENT_SHADER RCDATA "./ssao.frag.spv"
VKRT_RESOURCE_EDGE_AWARE_BOX_BLUR_VERTEX_SHADER RCDATA "./edgeAwareBoxBlur.vert.spv"
VKRT_RESOURCE_EDGE_AWARE_BOX_BLUR_FRAGMENT_SHADER RCDATA "./edgeAwareBoxBlur.frag.spv"
